################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/udacity/v16/.suo
/.vs
/data_scientist_nanodegree/extracurricular/capstone_content_spark/machine_learning_with_spark/Train_onetag_small.json
/data_scientist_nanodegree/core_curriculum/term_2/data_scientist_capstone/mini_sparkify_event_data.json
/data_scientist_nanodegree/core_curriculum/term_1/deep_learning/image_classifier_project/part_2/checkpoints/checkpoint.pth
/data_scientist_nanodegree/core_curriculum/term_1/deep_learning/image_classifier_project/classifier/checkpoint.pth
*.pth
*.pyc
/data_scientist_nanodegree/core_curriculum/term_2/data_scientist_capstone/.ipynb_checkpoints/sparkify_aws-checkpoint.ipynb
/data_scientist_nanodegree/core_curriculum/term_2/experimental_design_recommendations/.ipynb_checkpoints
/data_scientist_nanodegree/core_curriculum/term_2/experimental_design_recommendations/A_B_testing_case_study/.ipynb_checkpoints
/data_scientist_nanodegree/core_curriculum/term_2/experimental_design_recommendations/introduction_to_the_recommendation_engines/.ipynb_checkpoints
/data_scientist_nanodegree/core_curriculum/term_2/experimental_design_recommendations/recommendations_with_IBM_project/.ipynb_checkpoints
/data_scientist_nanodegree/core_curriculum/term_2/software_engineering/data_dashboard_project/pyvenv.cfg
/data_scientist_nanodegree/core_curriculum/term_2/software_engineering/data_dashboard_project/share/jupyter/nbextensions/plotlywidget
/data_scientist_nanodegree/core_curriculum/term_2/software_engineering/data_dashboard_project/Scripts
/data_scientist_nanodegree/core_curriculum/term_2/software_engineering/data_dashboard_project/Lib/site-packages
/data_scientist_nanodegree/core_curriculum/term_2/software_engineering/data_dashboard_project/etc/jupyter/nbconfig/notebook.d
/data_scientist_nanodegree/core_curriculum/term_2/data_engineering/disaster_response_pipeline_project/classifier/trained_classifier.pkl
/data_scientist_nanodegree/core_curriculum/term_1/unsupervised_learning/identify_customer_segments_project/data
/data_scientist_nanodegree/test_results.JPG
/data_scientist_nanodegree/core_curriculum/term_2/introduction_to_data_science/write_a_data_science_blog_post_project/data/reviews.csv
/data_scientist_nanodegree/core_curriculum/term_2/introduction_to_data_science/write_a_data_science_blog_post_project/data/output_reviews.csv
/data_scientist_nanodegree/core_curriculum/term_2/introduction_to_data_science/write_a_data_science_blog_post_project/data/calendar.csv
/data_scientist_nanodegree/graduation.JPG
